Django>=4.2,<5.0
psycopg2-binary>=2.9
gunicorn
python-dotenv
whitenoise
djangorestframework
djangorestframework-simplejwt
django-admin-sortable2
django-cors-headers
django-versatileimagefield
django-filter
django-tinymce