.dashbordLayout {
    display: flex;
    min-height: 100vh;
}

.sidebarDesktop {
    width: 260px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #212631;
    overflow: auto;
}

.contentDashbord {
    flex: 1;
    margin-right: 260px;
    background: #fffaf4;
    min-height: 100vh;
    padding: 0 1.5rem;
}

/* Mobile Drawer */

.sidebarMobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    background: #212631;
    z-index: 999;
    transform: translateX(100%);
    transition: .35s ease;
}

.open {
    transform: translateX(0);
}

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    z-index: 998;
}

.showBackdrop {
    opacity: 1;
    visibility: visible;
}

@media (min-width:768px) {

    .sidebarMobile {
        display: none;
    }

}

@media (max-width:767px) {
    .dashbordLayout {
        display: block !important;
    }

    .sidebarDesktop {
        display: none;
    }

    .contentDashbord {
        margin-right: 0;
        padding: 0;
    }

}